In [1]:
import pandas as pd

## Import new data

In [2]:
new_test = pd.read_table('/media/storage/TG/data_compare/new_data/y/fold_0_test.tsv')
new_train = pd.read_table('/media/storage/TG/data_compare/new_data/y/fold_0_train.tsv')
new_val = pd.read_table('/media/storage/TG/data_compare/new_data/y/fold_0_val.tsv')
new = pd.concat([new_val, new_test, new_train])
new.head()

       IID ancestry
0  HG00144      GBR
1  HG00264      GBR
2  HG00237      GBR
3  HG00410      CHS
4  HG00097      GBR

In [3]:
new_test_x = pd.read_table('/media/storage/TG/data_compare/new_data/x/fold_0_test_projections.csv.eigenvec.sscore')
new_train_x = pd.read_table('/media/storage/TG/data_compare/new_data/x/fold_0_train_projections.csv.eigenvec.sscore')
new_val_x = pd.read_table('/media/storage/TG/data_compare/new_data/x/fold_0_val_projections.csv.eigenvec.sscore')

## Import old data

In [4]:
old = pd.read_csv('/media/storage/TG/data_compare/old_data/y/y_all.csv')
old.head()

       IID  pop
0  HG00096  GBR
1  HG00097  GBR
2  HG00099  GBR
3  HG00100  GBR
4  HG00101  GBR

## Merge old and new

In [5]:
all = pd.merge(old, new)
all.head()
samples = list(all['IID'].values)
len(samples)

1415

## Compare new and old ancestry

In [6]:
err_samples = all[all['pop'] != all['ancestry']]
err_samples.head()

Empty DataFrame
Columns: [IID, pop, ancestry]
Index: []

## Samples that are present in old_data, but not in new_data

In [7]:
new.rename(columns = {'ancestry':'pop'}, inplace = True)
diff = old.merge(new, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
diff[['IID', 'pop']]

          IID  pop
39    HG00142  GBR
48    HG00155  GBR
407   HG02067  KHV
496   HG02681  PJL
657   HG03351  ESN
667   HG03382  MSL
671   HG03394  MSL
686   HG03451  MSL
756   HG03673  STU
771   HG03696  STU
881   HG03998  STU
924   HG04210  STU
939   NA18511  YRI
1155  NA19027  LWK
1215  NA19129  YRI
1227  NA19153  YRI
1253  NA19238  YRI
1282  NA19355  LWK
1285  NA19374  LWK
1291  NA19380  LWK
1297  NA19397  LWK
1310  NA19443  LWK
1408  NA20792  TSI

## Save filtered new_data

In [9]:
save = new_test[new_test['IID'].isin(samples)]
save.to_csv('/media/storage/TG/data_compare/new_data/y_filtered/fold_0_test.tsv', sep='\t', index=False)
save = new_train[new_train['IID'].isin(samples)]
save.to_csv('/media/storage/TG/data_compare/new_data/y_filtered/fold_0_train.tsv', sep='\t', index=False)
save = new_val[new_val['IID'].isin(samples)]
save.to_csv('/media/storage/TG/data_compare/new_data/y_filtered/fold_0_val.tsv', sep='\t', index=False)

In [14]:
save = new_test_x[new_test_x['#IID'].isin(samples)]
save.to_csv('/media/storage/TG/data_compare/new_data/x_filtered/fold_0_test_projections.csv.eigenvec.sscore', sep='\t', index=False)
save = new_train_x[new_train_x['#IID'].isin(samples)]
save.to_csv('/media/storage/TG/data_compare/new_data/x_filtered/fold_0_train_projections.csv.eigenvec.sscore', sep='\t', index=False)
save = new_val_x[new_val_x['#IID'].isin(samples)]
save.to_csv('/media/storage/TG/data_compare/new_data/x_filtered/fold_0_val_projections.csv.eigenvec.sscore', sep='\t', index=False)

## Run experiment with cross validation

In [29]:
%cd ../local
!python experiment.py
%cd ../JupyterNotebooks

/home/genxadmin/test_ukb/src/local
/home/genxadmin/miniconda3/envs/uk/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
{'study': 'tg', 'split_dir': '/media/storage/TG/data_compare', 'node': 'ALL', 'fold_index': 0, 'phenotype': {'name': 'ancestry'}, 'data': {'genotype': {'root': '/media/storage/TG/data/chip/superpop_split/genotypes/${node}/fold_${fold_index}', 'train': '${.root}_train', 'val': '${.root}_val', 'test': '${.root}_test'}, 'x_reduced': {'root': '${split_dir}/new_data/x_filtered/fold_${fold_index}', 'train': '${.root}_train_projections.csv.eigenvec.sscore', 'val': '${.root}_val_projections.csv.eigenvec.sscore', 'test': '${.root}_test_projections.csv.eigenvec.sscore'}, 'phenotype': {'name': 'ancestry', 'root': '${split_dir}/new_data/y_filtered/fold_${fold_index}', 'train': '${.root}_train.tsv', 'val': '${.root}_val.tsv', 'test': '${.root}_test.tsv'}}, 'model': {'name': 'random_forest', 'params': {'max_depth': None, 'min_samples_leaf': 1, 'n_estimators': 100}}, 'experiment': {'name': 'local-models-tg', 'include_genotype': True, 'include_covariates': False, 'random_state': 0, 'test_samples_limit': None, 'gpus': 0}}
dict_keys(['mlp_classifier', 'random_forest'])
[2022-08-01 10:30:04,156][root][INFO] - Loading data
[2022-08-01 10:30:04,168][root][INFO] - Loading sample indices
[2022-08-01 10:30:04,216][root][INFO] - 20 features loaded
2022/08/01 10:30:04 INFO mlflow.tracking.fluent: Experiment with name 'local-models-tg' does not exist. Creating a new experiment.
[2022-08-01 10:30:04,292][root][INFO] - Training
{'fit_time': array([0.34803534, 0.34181333, 0.33814836, 0.34395027, 0.33951092,
       0.34043574, 0.34205604, 0.35287786, 0.33985043, 0.34079313]), 'score_time': array([0.011096  , 0.01089907, 0.01042247, 0.01063991, 0.01041722,
       0.01075578, 0.0106082 , 0.01030874, 0.01069617, 0.01088381]), 'test_score': array([0.97887324, 0.97183099, 0.98591549, 0.98591549, 0.97887324,
       1.        , 0.9929078 , 0.9858156 , 0.9929078 , 1.        ]), 'train_score': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])}
Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/home/genxadmin/miniconda3/envs/uk/lib/python3.9/site-packages/mlflow/tracking/fluent.py", line 371, in end_run
    MlflowClient().set_terminated(run.info.run_id, status)
  File "/home/genxadmin/miniconda3/envs/uk/lib/python3.9/site-packages/mlflow/tracking/client.py", line 1466, in set_terminated
    self._tracking_client.set_terminated(run_id, status, end_time)
  File "/home/genxadmin/miniconda3/envs/uk/lib/python3.9/site-packages/mlflow/tracking/_tracking_service/client.py", line 411, in set_terminated
    self.store.update_run_info(
  File "/home/genxadmin/miniconda3/envs/uk/lib/python3.9/site-packages/mlflow/store/tracking/file_store.py", line 477, in update_run_info
    run_info = self._get_run_info(run_id)
  File "/home/genxadmin/miniconda3/envs/uk/lib/python3.9/site-packages/mlflow/store/tracking/file_store.py", line 549, in _get_run_info
    raise MlflowException(
mlflow.exceptions.MlflowException: Run '3947529b48d8476480c548aa16380360' not found
/home/genxadmin/test_ukb/src/JupyterNotebooks

## Results
```
'test_score': array([0.97887324, 0.97183099, 0.98591549, 0.98591549, 0.97887324, 1., 0.9929078, 0.9858156, 0.9929078, 1.]),
'train_score': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])}
```